name: CI Pipeline

on:
    push:
        branches:
            - main

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@latest

            - name: Setup Node.js
              uses: actions/setup-node@latest

            - name: Install Dependencies
              run: npm install

            - name: Run Tests
              run: npm test